<h1>Open BETA: n-word pass generator</h1>
<div class="frame">
  <form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
    <p class="formtext">Get a beta n-word pass now!</p>
    <div class="entrypoint">
      <input type="text" formControlName="name" placeholder="Name">
      <input type="text" formControlName="email" placeholder="Email">
      <button [disabled]="!joinForm.valid" [ngStyle]="{'background-color': buttonStyle}">
        <h3>{{ generatetext }}</h3>
      </button>
    </div>
  </form>
  <div class="sepa"></div>
  <form [formGroup]="checkForm" (ngSubmit)="onCheck()">
    <p>Need to get your n-word pass checked for validity?</p>
    <input type="text" formControlName="code" placeholder="code">
    <button [disabled]="!checkForm.valid">
      <h3>Check my code</h3>
    </button>
  </form>
</div>

